@import "general/reset.scss";
@import "mixins/flexbox.scss";

h1 {
    display: none;
}

ul {
    @include flexbox;
    flex-flow: row wrap;
}
li {
    border: solid 1px #333;
    margin: 2px;
    padding: 2px;
    background: #fff;
    text-align: center;

    //@include flex(1, 100px);
    flex: 1 100px;
}
img {
    display: inline-block;
}
